@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;

  h3 {
    margin-bottom: 20px;
  }

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}
