@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  margin: auto;

  .media {
    position: relative;
    width: 100%;
    height: 100vh;

    .image {
      @include mixins.mobile {
        object-position: 90% 0%;
      }
      @include mixins.tabletPortrait {
        object-position: 85% 0%;
      }
    }

    @include mixins.mobile {
      height: 500px;
    }

    .logo {
      position: absolute;
      right: 15%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
      width: 30px;
      height: 250px;

      @include mixins.mobile {
        height: 150px;
      }
    }
  }

  .video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .fadeOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    pointer-events: none;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      config.$green 100%
    );
  }
}
