@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.footer {
  width: config.$content-width;
  margin: auto;
  @include mixins.row-space-between-center();

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}
