@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.popup {
  position: absolute;
  top: 70px;
  left: 0px;
  background: config.$white;
  padding: 8px;
  z-index: 2;
  width: 30%;
  height: calc(100% - 70px);
}
