@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  width: config.$content-width;
  color: config.$white;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}

.navigationBar {
  height: 60px;
  @include mixins.row-space-between-center();

  h1 {
    letter-spacing: 10px;

    @include mixins.allDesktop {
      &:hover {
        color: config.$brand;
        cursor: pointer;
      }
    }
  }

  .control {
    @include mixins.row-space-between-center();

    p {
      display: flex;
      align-items: center;
      margin: 0px 10px;
      height: 34px;

      @include mixins.allDesktop {
        &:hover {
          cursor: pointer;
          color: config.$brand;
        }
      }
    }
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 105px;
  right: 0px;
  width: 200px;
  padding: 40px 0px;
  color: config.$white;
  @include mixins.transparentBackground(0.7, config.$green);

  @include mixins.mobile {
    right: -12px;
  }

  .navigationBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav {
    margin: 12px 0px;
    @include mixins.allDesktop {
      &:hover {
        cursor: pointer;
        color: config.$brand;
      }
    }
  }

  .navActive {
    color: config.$brand;
    margin: 8px 0px;
    cursor: pointer;
  }

  .logo {
    position: absolute;
    right: 10px;
    height: 350px;
    width: 50px;
    cursor: pointer;
  }
}
