@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 12px;
  margin: auto;
  min-height: 100vh;

  @include mixins.mobile {
    height: 100vh;
    background-image: url("../../assets/contactBackground.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    gap: 0px;
  }

  @include mixins.tabletPortrait {
    height: 100vh;
    background-image: url("../../assets/contactBackground.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    gap: 0px;
  }

  .infoBox {
    display: flex;
    flex-direction: column;
    height: 350px;
    position: relative;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;

    @include mixins.allDesktop {
      max-width: 800px;
    }
    @include mixins.mobile {
      left: 0%;
    }
    @include mixins.tabletPortrait {
      left: 0%;
    }

    h2 {
      padding: 20px;
      color: config.$brand;
      @include mixins.transparentBackground(0.7, config.$green);

      @include mixins.mobile {
        padding: 12px;
      }
    }

    .information,
    .informationReverse {
      padding: 20px;
      direction: rtl;
      overflow-y: auto;
      @include mixins.transparentBackground(0.7, config.$green);

      @include mixins.mobile {
        padding: 12px;
      }

      p {
        color: config.$white;
      }
    }

    .informationReverse {
      direction: ltr;
    }
  }

  .imageBox {
    .image {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}
