@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 12px;
  margin: auto;
  min-height: 100vh;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    width: calc(100% - 24px);
    margin-top: 150px;
    margin-bottom: 150px;
  }
  @include mixins.tabletPortrait {
    display: flex;
    flex-direction: column;
    min-height: fit-content !important;
    width: config.$content-width;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .infoBox {
    display: flex;
    align-items: center;

    .information,
    .informationReverse {
      display: flex;
      flex-direction: column;
      padding: 30px;
      direction: rtl;
      height: 400px;
      overflow-y: auto;
      @include mixins.transparentBackground(0.3, config.$grey);

      @include mixins.allDesktop {
        position: relative;
        left: 10%;
        z-index: 5;
        max-width: 800px;
      }
      @include mixins.tablet {
        position: relative;
        left: 10%;
        z-index: 5;
      }
      @include mixins.mobile {
        padding: 12px;
      }

      h2 {
        color: config.$brand;
        margin-bottom: 20px;
      }

      p {
        color: config.$white;
      }
    }

    .informationReverse {
      direction: ltr;
    }
  }

  .imageBox {
    @include mixins.mobile {
      height: 300px;
    }
    @include mixins.tabletPortrait {
      height: 600px;
    }

    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .image {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}
