@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover {
  width: 100%;
  height: 100vh;
  margin-bottom: 50px;

  @include mixins.mobile {
    height: 500px;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-bottom: 50px;

  @include mixins.mobile {
    height: 200px;
  }

  .image {
    @include mixins.allDesktop {
      &:hover {
        @include mixins.background-anime();
        cursor: pointer;
      }
    }
  }
}

.swiperContainer {
  position: relative;
  height: 50vh;
  margin-bottom: 120px;
  width: config.$content-width;
  @include mixins.row-space-between-center();

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  h2 {
    color: config.$brand;
  }

  .swiperBox {
    width: 95%;
    height: 100%;
  }

  .logo {
    position: relative;
    top: 15%;

    @include mixins.tablet {
      top: 10%;
    }
    @include mixins.tabletPortrait {
      top: 10%;
    }
  }

  .swiper {
    height: 100%;
    width: 100%;
    margin-top: 20px;
  }
}

.notFound {
  margin-top: 150px;
  text-align: center;
  color: config.$white;
}
