@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover {
  position: relative;
  width: 100%;
  height: 100vh;
  cursor: url("../assets/brush.png"), auto;
  margin-bottom: 50px;

  @include mixins.mobile {
    height: 500px;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-bottom: 50px;

  @include mixins.mobile {
    height: 200px;
  }
}

.notFound {
  margin: auto;
  width: config.$content-width;
  margin-top: 150px;
  text-align: center;

  @include mixins.tablet {
    width: config.$content-widthTablet;
  }

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}
