@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: 180px 0px;

  .items,
  .itemsReverse {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    color: config.$white;
    width: 100%;
    direction: ltr;
    @include mixins.transparentBackground(0.5, config.$green);

    @include mixins.mobile {
      top: 60%;
      padding: 12px 0px;
    }

    .item {
      height: 170px;
      width: config.$content-width;
      max-width: config.$max-widthHeigh;
      margin: auto;
      @include mixins.row-space-between-center();

      @include mixins.mobile {
        display: flex;
        flex-direction: column;
        width: calc(100% - 24px);
        height: 190px;
      }

      h1 {
        font-size: 3.8rem;
        @include mixins.mobile {
          font-size: 1.8rem;
        }
      }

      .border {
        width: 100px;
        border-bottom: 1px solid config.$brand;

        @include mixins.tabletPortrait {
          width: 70px;
        }
      }
    }
  }

  .items {
    direction: rtl;
  }

  .swiperContainer {
    width: 70%;
    background: config.$green;

    @include mixins.mobile {
      width: 100%;
    }
    .swiper {
      height: 170px;
      padding: 10px;

      @include mixins.mobile {
        height: 130px;
      }
    }

    .imageBox {
      position: relative;
      height: 100%;

      h3 {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      @include mixins.allDesktop {
        &:hover {
          cursor: pointer;
          color: config.$brand;
        }
      }
    }
  }

  .development {
    display: flex;
    flex-direction: column;
    text-align: center;

    .image {
      position: relative;
      height: 300px;
      margin-bottom: 20px;
      opacity: 0.5;

      @include mixins.mobile {
        height: 200px;
      }
    }

    .link {
      margin: auto;
      width: fit-content;
      color: config.$brand;
      border-bottom: 1px solid config.$brand;
      margin-top: 4px;
      cursor: pointer;
    }
  }
}

.typesNavigation,
.typesNavigationReverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  width: config.$content-width;
  max-width: 700px;
  margin: auto;
  margin-bottom: 32px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tablet {
    width: 100%;
  }
  @include mixins.tabletPortrait {
    width: 100%;
  }

  h3 {
    display: flex;
    height: 30px;
  }

  span {
    color: config.$grey;
    margin: 0px 12px;
    height: 100%;
  }

  .type {
    color: config.$grey;

    @include mixins.allDesktop {
      &:hover {
        cursor: pointer;
        color: config.$brand;
      }
    }
  }

  .typeActive {
    color: config.$brand;
  }
}
.typesNavigationReverse {
  flex-direction: row;
}

.groupRow,
.groupRowReverse {
  margin-bottom: 50px;
  width: config.$content-width;
  margin: auto;
  margin-bottom: 50px;
  direction: rtl;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  h3 {
    display: flex;
    justify-content: center;
    width: 80px;
    padding: 5px;
    @include mixins.transparentBackground(0.5, config.$green);
    margin-bottom: 12px;
    color: config.$white;

    @include mixins.allDesktop {
      &:hover {
        cursor: pointer;
        background: config.$brand;
      }
    }
  }
}
.groupRowReverse {
  direction: ltr;
}

.gridBox,
.gridBoxReverse {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 12px;
  margin: auto;
  height: 100%;
  direction: rtl;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }

  .imageBox {
    position: relative;

    &::before {
      content: "";
      display: block;
      padding-top: 75%;

      @include mixins.mobile {
        padding-top: 100%;
      }
    }

    .image {
      @include mixins.allDesktop {
        &:hover {
          cursor: pointer;
          @include mixins.background-anime();
        }
      }
    }

    .control {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    .video {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.gridBoxReverse {
  direction: ltr;
}

.gallerySlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 30;
  padding: 12px;
  width: 100%;
  height: 100vh;
  background: config.$white;

  h2 {
    margin-bottom: 12px;
  }

  .icon {
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    direction: rtl;

    @include mixins.mobile {
      width: 100%;
    }
  }
}
