@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin-top: 150px;
}

.gridBox {
  width: 100%;
  margin: 2vh auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vh;
  width: config.$content-width;

  @include mixins.mobile {
    width: calc(100% - 24px);
    display: flex;
    flex-direction: column;
    gap: 0vh 2vh;
  }

  @include mixins.tabletPortrait {
    gap: 1vh;
  }
}

.columnOne,
.columnTwo {
  .imageBox {
    position: relative;
    height: 60vh;
    margin-bottom: 2vh;

    @include mixins.mobile {
      height: 280px;
    }
    @include mixins.tablet {
      height: 350px;
    }
    @include mixins.tabletPortrait {
      height: 280px;
      margin-bottom: 1vh;
    }

    .image {
      @include mixins.allDesktop {
        &:hover {
          @include mixins.background-anime();
          cursor: pointer;
        }
      }
    }
  }
}

.columnTwo {
  .imageBox {
    height: 50vh;

    @include mixins.mobile {
      height: 280px;
    }
    @include mixins.tablet {
      height: 280px;
    }
    @include mixins.tabletPortrait {
      height: 220px;
    }
  }
}

.gallerySlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 30;
  padding: 20px;
  width: 100%;
  height: 100vh;
  background: config.$white;

  h2 {
    margin-bottom: 20px;
  }

  .icon {
    display: flex;
    width: 100%;
    direction: rtl;
    cursor: pointer;
  }
}
