@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container,
.containerReverse {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 12px;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin: 160px auto;
  direction: rtl;

  @include mixins.tabletPortrait {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
  @include mixins.mobile {
    width: calc(100% - 24px);
    display: flex;
    flex-direction: column;
  }

  .item,
  .itemReverse {
    background: config.$pureWhite;
    width: 100%;
    padding: 20px;
    @include mixins.border-radius();

    .row {
      @include mixins.row-space-between-center();
    }

    .more,
    .moreReverse {
      @include mixins.row-space-between-center();
      justify-content: flex-end;

      p {
        color: config.$brand;
        border-bottom: 1px solid config.$pureWhite;

        @include mixins.allDesktop {
          &:hover {
            cursor: pointer;
            border-bottom: 1px solid config.$brand;
          }
        }
      }
    }
  }

  .itemReverse {
    direction: ltr;
  }

  .item {
    p {
      font-size: small;
    }
    h3 {
      font-size: large;
    }
  }

  .description {
    margin: 12px 0px;
  }
}

.containerReverse {
  direction: ltr;
}

.blogBox,
.blogBoxReverse {
  width: 50%;
  margin: 160px auto;
  direction: ltr;

  .row {
    @include mixins.row-space-between-center();
  }

  .date {
    margin: 8px 0px;
    font-size: small;
  }
  .description {
    margin: 16px 0px;
  }

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}

.blogBox {
  direction: rtl;
}
