$font-Fa: "Farsi", sans-serif;
$font-En: "English", sans-serif;

$black: #000000;
$white: #fafbf6;
$red: #cd3d2c;
$green: #1e3638;
$grey: #969696;
$lightgrey: #d6d6d6;
$brand: #c79c6e;

$max-widthHeigh: 1500px;
$content-width: 90%;

$image-shadow: rgba(181, 181, 181, 0.2) 0px 2px 8px 0px;
$card-shadow: rgba(181, 181, 181, 0.2) 0px 8px 24px;
$button-shadow: rgba(181, 181, 181, 0.2) 0px 3px 8px;
