@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;500&display=swap");

$font: "Vazirmatn", sans-serif;

$background: #f7f9fb;
$black: #1b1b1b;
$white: #f7f9fb;
$red: #cd3d2c;
$green: #57a361;
$grey: #969696;
$lightgrey: #d6d6d6;

$max-widthHeigh: 1500px;
$content-width: 75%;
$content-widthTablet: 90%;

$image-shadow: rgba(181, 181, 181, 0.2) 0px 2px 8px 0px;
$card-shadow: rgba(181, 181, 181, 0.2) 0px 8px 24px;
$button-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
