@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.form {
  width: 500px;
  margin: 100px auto;
  font-weight: 100;

  .input {
    margin-bottom: 20px;
  }

  .bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }

  .label {
    color: config.$grey;

    span {
      color: config.$red;
    }
  }

  select,
  textarea,
  input {
    @include mixins.input();
    width: 100%;
  }

  textarea {
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    max-width: 100%;
    min-width: 100%;
  }

  @include mixins.mobile {
    width: 100%;
  }
}

.formAction {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;

  .mediaContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 12px;
    width: 100%;

    .media {
      width: 100%;
    }
  }

  button {
    @include mixins.button(config.$brand, config.$white, config.$white);
    margin: auto;
  }

  .clearMedia {
    margin-top: 20px;
    cursor: pointer;
  }

  .preview {
    position: relative;
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }

  .alert {
    margin: 16px 0px;
    color: config.$red;
  }
}

.calendar {
  display: flex;
  justify-content: center;
  padding: 12px 0px;
}

.priceInfo {
  @include mixins.row-space-between-center();
}

.logout {
  margin-top: 50px;
  cursor: pointer;

  p {
    font-size: small;
    color: config.$grey;

    @include mixins.allDesktop {
      &:hover {
        cursor: pointer;
        color: config.$brand;
      }
    }
  }
}
